.infoCard {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:#e3fbfb;
    
}

.infoPaper {
    display: flex;
    flex-direction: column;
    min-width: 100px !important;
    margin: 10px !important;
    justify-content: column !important;
    align-items: center;
    padding: 10px;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    /* filter: drop-shadow(0 0 0.4rem #332c7b); */
    background-color:#48a6cd !important;
    color: white !important;   
}

.infoPage {
    text-align: center;
}

.cohortList {
    list-style-type: none;      
}

.aboutPage {
    margin: auto;
    text-align: center;
    margin: 10px;
    padding: 10px;
 }

#currentProjects, #completedProjects {
    text-align: left;
}

.adminDetails {
    text-align: left !important;
    
}

.contractorDetails {
    margin-left: 0px
}
.adminContractorDetailsHead {
    font-weight: 700 !important;
}