.infoCard {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:#e3fbfb;
}

.infoPaper {
    display: flex;
    flex-direction: row ;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    border: 5px solid #332c7b;
    background-color:#e3fbfb;
    
}