.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 25em;
}

.modal .bth {
    display: block;
    margin: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group input,
.form-group select {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
    text-align: center;
}

.form-group label {
    margin-bottom: 0.2rem;
    margin-right: 1rem;
}

.language-div {
    display: flex;
    flex-flow:wrap;
    background-color: aqua;
}