.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #332c7b;
  overflow: hidden;
}


.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #e3fbfb;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #332c7b;
  color: #e3fbfb;
  font-size: 15px;
  outline: 0;
  cursor: pointer;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #48a6cd;
}
